div.containers {
	border : 1px solid red;
	width  : auto; /* default auto hast :D */ 
}

div.containers > div,
div.containers > footer {
	border :1px solid blue;
}

div.containers header,
div.containers div.content {
	border : 1px solid black;
}

div.content > section,
header > section {
	border : 1px solid green;
}

div.content > section > div,
footer > div,
header > section > div {
	border : 1px solid yellow;
} 

/******** Nav *******/
section.menubar {
	background : url(images/bg_nav.png) repeat-x; 
}

div.nav nav {
}

div.nav nav menu {

}

div.nav > nav > menu > li {
	float : right;
	position : relative;  
}

nav > menu > li > a {
	display : block;
	padding : 10px 20px;
	border-right : 1px solid #DDD; 
	text-decoration : none;
	color : #333;
	text-shadow : 1px 1px 1px #fff; 
	text-align : center;
}

div.nav menu > li a:hover {
	background : url(images/bg_nav_hover.png) repeat-x;
}

div.nav menu > li > menu {
	position : absolute; 
	display : none;
	background : #fff;
	top : 100%;
	right : 0;
	z-index : 10 ;
	border : 1px solid #ddd;
}

div.nav menu > li:hover menu {
	display : block;
} 

nav menu > li li a {
	display : block;
	text-decoration : none;
	text-align : center;
	padding : 5px 30px;
	border-bottom: 1px solid #eee;
	color : #111;
	text-shadow : 1px 1px 1px #fff; 
}
