div.containers {
	border : 1px solid red;
	width  : auto; /* default auto hast :D */ 
}

div.containers > div,
div.containers > footer {
	border :1px solid blue;
}

div.containers header,
div.containers div.content {
	border : 1px solid black;
}

div.content > section,
header > section {
	border : 1px solid green;
}

div.content > section > div,
footer > div,
header > section > div {
	border : 1px solid yellow;
} 

/******** Nav *******/
div.nav nav {

}

div.nav nav menu {

}

div.nav menu > li {
	float : right;
}

div.nav menu > li a {
	padding : 10px;
}